* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1faee;
  color: #1d3557;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 25px;
  border: 1px solid #1d3557;
  border-radius: 20px;
  padding: 8px 20px;
  color: #1d3557;
}
nav ul li a {
  text-decoration: none;
  color: #1d3557;
}

nav ul li:hover {
  background: #a8dadc;
  font-size: 1.02rem;
}
.left {
  font-size: 1.5rem;
}
main {
  display: 100vh;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.firstsection > div {
  width: 30%;
}

.leftsection {
  font-size: 2rem;
  margin: 70px 0px;
}

.rightsection img {
  width: 100%;
  margin: 70px 0px;
}

.myname {
  color: #e63946;
}
#element {
  color: #e63946;
}
